/* literalmente o pior css da história */

.center { 
    display:flex;
    text-align: center;
    justify-content: center;
}
.profile_picture{
    /* text-align:center; */
    /* display:flex; */
    padding:10%;
    width: 60%;
    height: auto;
}
.conquistas{
    margin:20%;
    text-align:center;
}
/* .pe { 
    margin:50px;
    text-align:center;
    padding:30px;
    border-style:solid;
    border-color:black;
    border-width:1rem;
NAO ESTA SENDO USADO
} */
/* .linha_preta{
    border-bottom:solid black 1px;
    border-style:solid;
NAO ESTA SENDO USADO
} */
.imagens{
    border-style:solid;
    border-color: black;
    border-width: 0.1rem;
    width: 5rem;
    height: auto;
    min-width:44px;
    min-height:44px;
    
}
.trofeus{
    width: 30%;
    height: auto;
    margin-bottom: 2rem;
}
.flex_imagens{
    display:flex;
    border-style:solid;
    justify-content: space-around;
}
.grafico{
    width: 60%;
    height: auto;
    /* min-width:300px;
    min-height:100px; */
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.botao {
    border: black solid 0.1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    min-width: 250px;
}

.botoes {
    align-items: center;
}
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2_certificado {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.fig_certificado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto_simulador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input_simulador {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.continuar_simulador {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    margin: 1rem 1rem 1rem 2.5rem;
    font-size: 1.1rem;
}

.exercicio {
    margin: 0.1rem 0.5rem 0.1rem 1.5rem;
}

h2.exs {
    font-size: 1.6rem;
    margin: 0 5%;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

footer {
    display: flex;
}

video {
    width: 90%;
    height: 80%;
    margin: 0 5%;
}


.link-certificado {
    justify-content: end;
    align-items: center;
    align-self: center;
    margin: 25% 0 10% 0;
}

.img-gastos {
    height: 70%;
    width: 70%;
}

.centralizar {
    justify-content: center;
}

h2.gastos {
    margin: 2rem 0 1rem 1rem;
    text-decoration: underline;
}

li.gastos {
    margin: 0.5rem 0 0.5rem 0.5rem;
}

.link-gastos {
    margin: 5%;
    padding: 1rem;
    border: black solid 0.1rem;
}
.seta { 
    top:5px;
    left:-125px;
}
.texto {
    margin: 1rem 0;
    padding: 0.5rem;
}

h2.calc_gastos{
    text-decoration: underline;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 0.5rem;

}
ol.calc_gastos {
    display: flex;
    flex-direction: column;
}
ul.calc_gastos{
    display: flex;
    flex-direction: column;
}
p.calc_gastos{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    margin: 0.5rem;
}
