/* literalmente o pior css da história */

.center { 
    display:flex;
    text-align: center;
}
.profile_picture{
    text-align:center;
    display:flex;
    padding:10px;
}
.conquistas{
    margin:30px;
    text-align:center;
}
.pe { 
    margin:50px;
    text-align:center;
    padding:30px;
    border-style:solid;
    border-color:black;
    border-width:1rem;

}
.linha_preta{
    border-bottom:solid, black, 1px;
    border-style:solid;
}
.imagens{
    border-style:solid;
    border-color: black;
    border-width:1px;
    width:75px;
    height:75px;
    
}
.trofeus{
    height:50px;
    width:50px;
}
.flex_imagens{
    display:flex;
    border-style:solid;
    justify-content: space-around;
}
.grafico{
    width:300px;
    height:100px;
}

.linha {
    display: flex;
    flex-direction: row;
}

.coluna {
    display: flex;
    flex-direction: column;
}

.botao {
    border: black solid 0.1rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    min-width: 250px;
}

.botoes {
    align-items: center;
}
.corpo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2_certificado {
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
}

.fig_certificado {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.texto_simulador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}

footer {
    display: flex;
}

video {
    width: 90%;
    height: 80%;
    margin: 0 5%;
}

.pergunta {
    margin: 1rem 1rem 1rem 2.5rem;
    font-size: 1.1rem;
}

.exercicio {
    margin: 0.1rem 0.5rem 0.1rem 1.5rem;
}

h2.exs {
    font-size: 1.6rem;
    margin: 0 5%;
}